body
{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #555;
	background-color: #363636;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
{
	margin-top: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #333;
}

@media (min-width: 1200px){
	.container
	{
		width: 970px;
	}
}

.col-md-6 img
{
	max-height: 500px;
	max-width: 400px;
	cursor: pointer;
	margin: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.imgURL, .preloader, .alert
{
	display: none;
}
.navbar
{
	background-color: #1C1C1C;
}
a:hover
{
	color: #E8E8E8 !important;
}

.alert-success
{
	display: block !important;  
}